*{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
	color:black;
}
body{
	widtyh:1600px;
}
.head{
	height:200px;
	width:100%;
	
	
}
.head1{
	height:40px;
	width:100%;
	background: black;
	color:white;
	
	
}
.head2>li{
	list-style: none;
	margin-left: 50px;
	float:left;
	list-style: none;
	margin-left: 50px;
	float:left;
	line-height: 40px;
}
.head2>li:last-child:hover{
	color:red;
}
.head3>li{
	height:30px;
	width: 100px;
	
	border-radius: 30px;;
	list-style: none;
	margin-right: 50px;
	float:right;
	line-height: 30px;
	text-align: center;
	margin-top: 5px;
}
.head3>li:first-child{
	background: orange;
}
.head3>li:first-child:hover{
    color:red;
}
.head3>li:last-child{
	background:white;
	color:red;
}
.head4{
	height:100px;
	width: 100%;
	

}
.head5{
	height:60px;
	width:200px;
	
	padding-top:20px;
	margin-left: 680px;
}
.head5>img{
	height:60px;
	width:60px;
	border-radius: 50% 50%;
	float:left;
	margin-right: 25px;
}
.head6{
	float:left;
	font-size: 25px;
	
}
.head7{
	width:100%;
	height:60px;
	background: darkgray;
	
	line-height: 60px;
}
.head8>li{
	list-style: none;
	float:left;
	margin-left: 100px;
	cursor: pointer;
	
}
.head8>li:first-child{
	margin-left:360px;
}
.zong{
	width:1600px;
	height:2730px;
	border:1px solid red;
}
.lun{
	height:520px;
	width:100%;
	
	position: absolute;
}
.lun1{
	height: 475px;
	width: 12800px;
	
	position: absolute;
}
.lun1>img{
	width:1600px;
	height:475px;
	float:left;
}
.lun2{
	height:50px;
	width:300px;
	
	margin-top:400px;
	margin-left: 600px;
	position: absolute;
	z-index: 100;
}
.lun3>li{
	list-style: none;
	float:left;
	margin-top:30px;
	height: 20px;
	width:20px;
	background:white;
	border-radius: 20px;
	margin-left:15px;
}
.lun3>li:first-child{
	margin-left:35px;
}
.lun4{
	height:40px;
	width:100%;
	border:2px solid green;
    position: absolute;
    margin-top:475px;
    line-height: 40px;
    background: slategray;
    color:white;
    overflow: hidden;
}

.lun5{
	height:40px;
	width:100px;
	font-size: 18px;
	margin-left:200px;
	
	
}
.lun6{
	height:40px;
	width:900px;
	margin-top:-40px;
	margin-left:300px;
	
	
}
.lun7{
	height:40px;
	width:100px;
	
	margin-left:1300px;
	margin-top:-40px;
}
.lun8{
	position: absolute;
	
}
.lun9{
	height:200px;
	width:100px;
	position: fixed;
    transition: all 1s ;
	top:300px;
    right:-70px;
	z-index:100;
}
.lun91{
	height:120px;
	width:30px;
	text-align: center;
	margin-top:40px;
	background:gray;
	float: left;
}
.lun92{
	height:200px;
	width:70px;
	background:ghostwhite;
	float:left;
	margin-top: -160px;
	margin-left:30px;
}
.lun92>img{

	width: 70px;
	height:70px;
	border-radius: 50% 50%;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
.lun94{
	border:1px solid blue;
	margin-top:4px;
	margin-bottom: 3px;
	padding-left:10px;
}
.lun95{
	border:1px solid red;
	margin-top:4px;
	margin-bottom: 3px;
	padding-left:10px;
}
.bo{
	height: 500px;
	width:100%;
	margin-top:520px;
	background:dimgray;
}
.bo1{
	height:350px;
	width:1200px;
	
	margin-bottom:175px;
	margin-left: 200px;
	padding-top:75px;
}
.bo1>img{
	height:350px;
	width:350px;
	margin-left:45px;
	transition: all 2s;
	transform: scale(0.001);
}
.hua{
	width:1600px;
	height: 900px;
	background:black;
	text-align:center;
}
.hua>h2{
	padding-top:50px;
	padding-bottom: 50px;
	color:red;
	
}
.hua3{
	height: 300px;
	width:250px;
	margin-left:30px;
	
	
}
@keyframes name{
	0%{
		transform: rotateX(0deg);
	}
	60%{
		transform: rotateX(90deg);
	}
	80%{
		transform: rotateX(-40deg);
	}
	100%{
		transform: rotateX(0deg);
	}
  
}
.hua5{
	margin-top: 50px;
	height: 300px;
	width:250px;
	margin-left:30px;
	
}
.hua7{
	height:50px;
	width:300px;
	text-align: center;
	margin-top:35px;
	border:1px solid white;
	margin-left:650px;
	color:white;
	font-size: 20px;
	line-height:50px;
}
.buo{
	height:800px;
	width:100%;
	background:greenyellow;
	
}
.bo3{
	height:400px;
	width: 100%;
	margin-left:-1400px;
	overflow: hidden;
	transition: all 2s; 
}
.bo4{
	height:400px;
	width: 100%;
	margin-left:1400px;
	overflow: hidden;
	transition: all 2s; 
}
.bo4>img{
	height:350px;
	width:300px;
	margin-top:-450px;
	margin-left:1000px;
	transition: all 2s; 
}
.buo1{
	height:300px;
	width:900px;
	
	margin-left:200px;
}
.bo3>h1{
	margin-left:750px;
}
.bo4>h1{
	margin-left:750px;
	padding-bottom: 35px;
}
.buo1>p{
	margin-left:0;
	font-size: 20px;
}
.buo2{
	height:300px;
	width:900px;
	
	margin-left:200px;
}
.buo2>p{
	font-size: 20px;
}
