*{
	padding: 0;
	margin: 0;
}
.g{
	height:900px;
	width:1600px;
	
}
.g1{
	width:100%;
	height:400px;
	
	background:#C1FFC1 ;
}
.g1>img{
	width:100%;
	height:100%;
	opacity: 0.5;
}
.g>p{
	font-size: 35px;
	
	text-shadow: 2px 2px red;
}
.g2{
	height:650px;
	width:100%;
	background:black;
	margin-top:80px;
	overflow: hidden;
	
}
.g3{
	height:100%;
	width:1000px;
	margin-left:300px;
	/*border:1px solid red;*/
	color:white;
}
.g4{
	height:50px;
	width:300px;
	/*bordeR:1px solid white;*/
	line-height:50px;
	
}
.g41{
	position:relative;
	height:50px;
	width:80px;
	line-height: 50px;
	
	text-align: center;
	margin-top:-50px;
	margin-left: 190px;
	
}
.g42{
	position: absolute;
	display: none;
	
	
}
.g42:first-child{
	display:block;
}
.g5{
	height:60px;
	width:200px;
	/*border:1px solid white;*/
	color:orange;
	font-size: 30px;
	position: relative;
	margin-top: 30px;
	margin-left:400px;
	
	line-height: 60px;
	
}
.g5 .g42{
	transition: all 2s; 
}
.g61{
	list-style: none;
}
.g61>li{
	list-style: none;
	border:1px solid white;
	height:40px;
	width:100px;
	float: left;
	margin-left:30px;
	margin-top:10px;
	text-align: center;
	line-height: 40px;
}
.g61>li:first-child{
	margin-left:185px;
}
.g7{
	height:400px;
	width:100%;
	
	
	
	display: none;
	position: absolute;
	top:0;
	left:0;
}
.g71{
	width:500px;
	height:300px;
	margin-top:50px;
}
#g71>p{
	font-size:25px;
	margin-top:30px;
}
.g72{
	height:300px;
	width:300px;
	
}
.g8{
	position:relative;
	height:400px;
	width:100%;
	
	margin-top:700px;
}
