*{
	padding:0;
	margin: 0;
}
.ke{
	height:1000px;
	width:1600px;
	

}
.ke1{
	height:300px;
	width: 1580px;
	border:1px solid white;
	
	opacity:0.7;
	
}
.ke1>img{
	height:300px;
	width: 1580px;

}
.ke2{
	font-size: 35px;
	text-shadow: 3px 3px #B22222;
	margin-top:-190px;
	animation: name 2 ease 1s;
	animation-iteration-count: 5;
}
.ke22{
	font-size: 35px;
	text-shadow: 3px 3px #B22222;
	margin-top:-100px;
	margin-left:1200px;
	
}
.ke3{
	height:800px;
	width:1600px;
	background:black;
}
.ke31{
	height:50px;
	width: 300px;
	padding-top:50px;
	
	color:orange;
	text-align: center;
	margin-left:650px;
	font-size: 35px;
	
}
.ke4{
	height:450px;
	width:1000px;
	/*border:1px solid white;*/
	margin-left:300px;
	margin-top:50px;
	color:white;
}
.ke4>input{
	margin-bottom: 30px;
	width:900px;
	margin-top: 8px;
	cursor: pointer;
}
/*.ke5{
	height:200px;
	background:orange;
	width:1600px;
	
}*/
